body {
  height: 100vh;
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 9;

  header {
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;

    .center-links {
      width: 200px;
      height: 200px;
      background-color: aliceblue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        line-height: 2em;
      }

      #back {
        position: relative;
        bottom: 0;
      }
    }
  }

  footer {
  }
}
